:root {
    --main-background: #1D2125;
    --test-color: #9132a8;
    --gray: #9FADBC;
    --gray-hover: #9fadbc74;
    --light-gray:#282e33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}
input:focus{
    outline: none;
}